.navbar-default {
	margin-bottom: 0px;
}

.hero {
	padding: 200px 0px;
	background: url(../img/slider/background3.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	color: #000000;
	font-size: 16px;
	position: relative;
	background-position: center;
	margin-bottom: 50px; 
}

.top-footer
{
  padding: 30px 0px;
  background:#2020200f;
  color: #582727;

}
.top-footer p
{
  font-size: 12px;
  color: #999;
}
.top-footer .footer-title
{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.top-footer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.top-footer ul a {
    font-size: 12px;
    color: #999;
}
.top-footer ul a:hover
{
  color: #fff;
}
.bottom-footer {
    background-color: #FF6D00;
    height: 60px;
    color: #fff;
}

.mh-1 {
  min-height: 650px;

}